# Project exclude paths
/venv/
/te.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# old py files
registrationLogin.py
NewGraphs.py
NewLogin.py
