background-color:#92a8d1;

.body {
    margin: 1rem;
    background-color:#ff0000;
}



header{
  align-items: right;
  justify: right;
}


.navbar{
background-color:pink;
color:green;
.navbar-expand-xl|lg|md|sm;


}
