body {
    margin: 1rem;
}

.title {
    margin: 0 1rem 0 1rem;
}

.row {
    margin: 5rem 2rem 5rem 2rem;
}

.row p {
    margin: 1rem 0 1rem 0;
}

.details {
    margin: 2rem;
}

.Select.is-open {
    z-index: 1003;
}