background-color:#92a8d1;

.body {
    margin: 1rem;
    background-color:#ff0000;
}



header{
  align-items: right;
  justify: right;
}


.navbar {
background-color:rgba(51, 204, 255, .1)!important;
color:green;
.navbar-expand-xl|lg|md|sm;


}

a.active.nav-link{background-color:rgb(0, 153, 51)!important;}
